@using myShop.Entities.ViewModels
@using Utilities
@model OrderViewModel
@{
	ViewBag.PageTitle = "Order Management";
	ViewBag.CardTitle = "Order Details";
	Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<form method="post">
	<input hidden asp-for="Order.Id" />
	<div class="mb-3">
		<label>Name</label>
		<input asp-for="Order.Name" class="form-control" />
		<span class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label>Phone Number</label>
		<input asp-for="Order.Phone" class="form-control" />
		<span class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label>Address</label>
		<input asp-for="Order.Address" class="form-control" />
		<span class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label>City</label>
		<input asp-for="Order.City" class="form-control" />
		<span class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label>Email</label>
		<input asp-for="Order.ApplicationUser.Email" class="form-control" />
		<span class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label>Order Date</label>
		<input value="@Model.Order.OrderDate.ToShortDateString()" class="form-control" readonly />
		<span class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label>Carrier</label>
		<input asp-for="Order.Carrier" id="carrier" class="form-control" />
		<span class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label>Tracking Number</label>
		<input asp-for="Order.TrackingNumber" id="trackingNumber" class="form-control" />
		<span class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label>Shipping Date</label>
		<input value="@Model.Order.ShippingDate.ToShortDateString()" class="form-control" readonly />
		<span class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label>Session ID</label>
		<input asp-for="Order.SessionId" class="form-control" readonly />
		<span class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label>PaymentIntent ID</label>
		<input asp-for="Order.PaymentIntentId" class="form-control" readonly />
		<span class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label>Payment Date</label>
		<input value="@Model.Order.PaymentDate.ToShortDateString()" class="form-control" readonly />
		<span class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label>Payment Status</label>
		<input asp-for="Order.PaymentStatus" class="form-control" readonly />
		<span class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label>OrderStatus</label>
		<input asp-for="Order.OrderStatus" class="form-control" readonly />
		<span class="text-danger"></span>
	</div>
	<div class="mb-3">
		<a class="form-control btn btn-dark">OrderItems</a>
		<span class="text-danger"></span>
	</div>
	@{
		int counter = 1;
	}
	@foreach (var item in Model.OrderItems)
	{
		<div class="mb-3">
			<h5 class="quote-red">Order Item Number @counter</h5>
		</div>
		<div class="mb-3">
			<label>Item Name</label>
			<input value="@item.Product.Name" class="form-control" readonly />
			<span class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label>Quantity</label>
			<input value="@item.Count" class="form-control" readonly />
			<span class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label>OrderItems Price</label>
			<input value="@((item.Product.Price*item.Count).ToString("c"))" class="form-control" readonly />
			<span class="text-danger"></span>
		</div>

		counter++;
	}
	<div class="mb-3">
		<label>Total Price</label>
		<input value="@Model.Order.TotalPrice.ToString("c")" class="form-control" readonly />
		<span class="text-danger"></span>
	</div>
	<div class="mb-3">
		<button type="submit" asp-action="Details" class="form-control btn btn-primary"> Edit Details </button>
	</div>
	<div class="mb-3">
		@if(Model.Order.OrderStatus == Status.Approved)
		{
			<input type="submit" asp-action="StartProcessing" class="btn btn-primary" value="Start Process " />
		}
		@if (Model.Order.OrderStatus == Status.Processing)
		{
			<input type="submit" asp-action="StartShipping" onclick="return checkData()" class="btn btn-success" value="Start Shipping  " />
		}
		@if(Model.Order.OrderStatus != Status.Cancelled || Model.Order.OrderStatus != Status.Refund)
		{
			<input type="submit" asp-action="CancelOrder" class="btn btn-danger" value="Cancel Order " />
		}
	</div>

</form>

@section Scripts{
			<script>
		function checkData() {
			if (document.getElementById("carrier").value == '') {
				Swal.fire({
					title: "There is an error",
					text: "Please enter carrier!!",
					icon: "error",
					showCancelButton: true,
					confirmButtonColor: "#3085d6",
					cancelButtonColor: "#d33",
					confirmButtonText: "OK !"
				});
				return false;
			}
			if (document.getElementById("trackingNumber").value == '') {
				Swal.fire({
					title: "There is an error",
					text: "Please enter tracking number!!",
					icon: "error",
					showCancelButton: true,
					confirmButtonColor: "#3085d6",
					cancelButtonColor: "#d33",
					confirmButtonText: "OK !"
				});
				return false;
			}
			return true;
		}

			</script>
		}